<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelo Ex</title>
</head>
<body>

    <section class="container">

        <h1>Lorem ipsum dolor sit amet</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, nisi eligendi? Ab est iste earum non provident officia perspiciatis consectetur architecto similique quasi, ea dignissimos, corrupti eius magni possimus ad.</p>

        <form id="form" action="/" method="post">

            <label>Cliente</label>

            <input type="text" name="cliente">

            <button>Submit</button>

        </form>

    </section>
    
    <script src="js/bundle.js"></script>

</body>
</html>